<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400.,500,600,700,800.&family=Poller+One&display=swap" rel="stylesheet">

* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;

}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #1b1726;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(images/20.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #ff5a2c;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    font-weight: 600;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #ff5a2c;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.header-text {
    flex-basis: 50%;
}

.header-text h1 {
    font-size: 60px;
    color: #ff5a2c;
    line-height: 1. 3;
    margin-bottom: 25px;
}

.header-text span {
    color: #;
}

.header-text p {
    font-size: 17px;
    color: #ffffff;
    margin-bottom: 45px;
}

.butons {
    display: flex;
}

.btn-1, .btn-2 .btn-3 {
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid #ff5a2c;
    border-radius: 25px;
    font-size: 17px;
    color: #ffffff;

}

.btn-1:hover {
    background-color:#ff5a2c ;
}
   
.poular {
    padding: 100px 0;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 45px;
}

.popular-content {
    display: flex;
    justify-content: space-between;
}

.popular-content img {
    width: 150px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.product-1 {
    background-color: #2a223a;
}

.product-text {
    padding: 50px 30px;
}

h3 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    font-size: 17px;
    color: #ff5a2c;

}

.btn-2 {
    padding: 5px 25px;
    background-color: #ff5a2c;
    margin-right: 0;
}

.contact {
    padding: 150px 300px;
}

.contact-content {
    background-color: #2a223a;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    padding: 18px 25px;
    background-color: #3f3456;
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    color: #ffffff;
    font-size: 17px;
}

::placeholder {
    color: #e0e0e0;
    font-size: 17px;
}

.btn-3 {
    background-color: #ff5a2c;
    cursor: pointer;
    margin-right: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.link ul {
    display: flex;
}

.link ul li > a {
    font-size: 17px;
    color: #ffffff;
    margin-right: 20px;
}

.link ul li > a:hover {
    color: #ff5a2c;
}


@media(max-width:495) {
    .menu {
        padding: 10px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        background-color: #ded409;
        display: none;
    }

    .menu .navbar ul li a:hover {
        color: #181726;
    }

    .menu .navbar ul li {
        width: 50%;
    }

    .menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        padding: 40px 15px 25px 15px;
    }
    .header-text {
        text-align: center;
        flex-basis: 50%;
    }

    .header-text h1 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .butons {
        justify-content: center;
    }

    .btn-1:last-of-type {
        margin-right: 0;
    }

    .poular {
        display: none;
    }

    .product {
        padding: 15px;
    }

    .product-content {
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
    }

    .product-1 img {
        width: 100%;
    }

    .contact {
        padding: 15px;
    }

    form {
        flex-direction: column;
    }

    input {

        margin: 0 0 10px 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .link ul {
        margin-top: 10px;
    }
}